{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * craft-single-sign-on plugin for Craft CMS
 *
 * Config Utility Content
 *
 * @author    miniorange
 * @copyright Copyright (c) 2022 miniorange
 * @link      https://github.com/miniorangedev
 * @package   Craftsinglesignon
 * @since     1.0.0
 */
#}

<h1>Config</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@miniorangedev/craftsinglesignon/assetbundles/configutility/dist', true) ~ '/img/Config-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>